.InfoHeader {
    color: white;
}

.Carousel {
    width: 100%;
}

.CarouselItem {
    width: 100%;
    height: 50vh;
}

.CarouselItem:hover {
    cursor: grab;
}

.ItemContainer {
    text-align: center;
}