.InfoHeader {
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeaderContainer {
    text-align: center;
    margin: auto;
}

.Carousel {
    width: 100%;
}

.CarouselItem {
    width: 100%;
    height: 50vh;
}

.CarouselItem:hover {
    cursor: grab;
}

.ItemContainer {
    text-align: center;
}

.BodyText {
    color: white;
    text-align: left;
    justify-content: left;
    padding: 3% 0 1% 0;
}

.CarouselHeader {
    color: #28a745 !important;
    justify-content: center;
    text-align: center;
    margin-bottom: 1%;
}

.TechStackList {
    display: flex;
}
.TechStackInline {
    display: none;
}

@media screen and (max-width: 300px) and (min-width: 200px) {
    .InfoHeader {
        height: 17vh;
    }
    
    .CarouselItem {
        height: 25vh;
    }
    ul {
        padding: 2% 45%;
    }
    .TechStackList {
        display: none;
    }
    .TechStackInline {
        display: block;
    }
}
@media screen and (max-width: 480px) and (min-width: 300px) {
    .InfoHeader {
        height: 15vh;
    }
    .CarouselItem {
        height: 30vh;
    }
    ul {
        padding: 2% 35%;
    }
    .TechStackList {
        display: none;
    }
    .TechStackInline {
        display: block;
    }
}
@media screen and (max-width: 600px) and (min-width: 480px) {
    .InfoHeader {
        height: 22vh;
    }
    ul {
        padding: 2% 25%;
    }
    .TechStackList {
        display: none;
    }
    .TechStackInline {
        display: block;
    }
}
@media screen and (max-width: 768px) and (min-width: 600px) {
    .InfoHeader {
        height: 115px;
    }
    /* on mobile landscape mode */
    .CarouselItem {
        height: 350px;
    }
    ul {
        padding: 2% 15%;
    }
    .TechStackList {
        display: none;
    }
    .TechStackInline {
        display: block;
    }
}

 @media screen and (max-width: 992px) and (min-width: 768px) {
    .InfoHeader {
        height: 30vh;
    }
    .CarouselItem {
        height: 35vh;
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .InfoHeader {
        height: 35vh;
    }
    .CarouselItem {
        height: 40vh;
    }
}