.ModalClass {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.SuccessBox, .ErrorBox {
    margin-bottom: 1%;
}

.SuccessBox {
    color: #28a745
}

.ErrorBox {
    color: #dc3545
}