.NavBar {
    width: calc(100vw - (100vw - 100%));
    overflow-x: auto;
    justify-content: start;
    background-color: #b1b1b1!important;
}

.NavButton {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #fff;
    /* navbar brand styles */
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin: 0 .5rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-align: left;
}
.Toggler {
    border-color: whitesmoke !important;
}
.NavButton:hover {
    color: #808080;
}
@media (max-width: 992px) {
    .NavBar {background-color: #9d9d9d !important;}
}