.NavlinkActive {
    color: orange;
}
.NavButton {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #fff;
    /* navbar brand styles */
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}