.Resume {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 0 0 7% 0;
}
.FrameContainer {
    height: 85vh;
    width: 90%;
    padding-bottom: 5vh;
}
.ResumeIFrame {
    border: none;
    height: 100%;
    width: inherit;
}

/* dont show iframe on small screens - just link to download */
@media screen and (max-height: 830px) {
    .FrameContainer {
        display: none;
    }
}