:root {
    --primary-title-color: white;
    --title-margin: .5rem;
    --main-display: flex;
    --flex-medium: 0 0 55%;
    --flex-small: 0 0 30%;
    --flex-xsmall: 0 0 10%;
}

.HeadingContainer { padding: 2%;}

.Logo {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.LogoRow {
    display: var(--main-display);
    flex-direction: row;
    padding-top: 4%;
}

.LogoColumn {
    -ms-flex: var(--flex-small);
    flex: var(--flex-small);
}

.OffsetDescription {
    -ms-flex: var(--flex-xsmall);
    flex: var(--flex-xsmall);
}

.DescriptionColumn {
    -ms-flex: var(--flex-medium);
    flex: var(--flex-medium);
}

.ResumeDownloadImage {
    width: 30px;
    height: 30px;
}

.ResumeDownloadContainer {
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.DescriptionTitles {
    display: flex;
    flex-direction: var(--main-display);
    justify-content: space-between;
    color: var(--primary-title-color);
    margin-bottom: var(--title-margin);
}

.EducationSchoolInfo {
    color: var(--primary-title-color);
    margin-bottom: var(--title-margin);
    line-height: 1.2;
}

.EducationSchoolInfo p {
    margin-bottom: 0;
}

.EducationSchoolAccomplishments {
    text-align: left;
}

.RoleFlex {
    flex: 0 0 35%;
    margin-right: 2.5%;
}

.DateFlex {
    flex: 0 0 25%;
    margin-right: 2.5%;
}

.TeamFlex {
    flex: 0 0 35%;
}

@media screen and (max-width: 769px){
    .HeadingContainer {
        text-align: center;
    }
    .LogoRow {
        flex-direction: column;
    }
    .Logo {
        width: 50%;
        justify-content: center;
        padding-bottom: 2%;
    }
    .DescriptionColumn {
        text-align: left;
    }
    li {
        line-height: 1;
    }
    .DescriptionTitles {
        justify-content: space-evenly;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .DescriptionTitles {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    ul {
        padding-left: 20px;
    }
}