.Image {
    width: 100%;
    height: auto;
}

.LinkContainer {
    width: 100vw;
    height: auto;
    margin: 1% 0;
}

@media (min-width: 770px) {
    .LinkContainer {
        width: 45vw;
        margin: 1% 1%;
    }
}