body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b1b1b1;
  color: #557a95;
}

a.navbar-brand.current-page:hover {
  color: #808080;
}

.row {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

/* for headers like Summary, Tech Stack -- mirrors display-4 from Bootstrap */
.jumbotron-sub-display {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* for larger jumbotron text like greeting and project title pages */
.jumbotron-display {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.sub-header {
  opacity: .75;
  font-size: 1.75rem;
  font-weight: 250;
}

.project-title {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.project-body {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 769px){
  .portfolio-container { flex-direction: column;}
}

@media only screen and (max-width: 1100px) {
  .project-title {
    font-size: 3.5rem;
    line-height: 1;
  }
  .jumbotron-sub-display {
    font-size: 2.5rem;
    line-height: 1;
  }
}


@media only screen and (max-width: 768px) {
  .jumbotron-sub-display {
    font-size: 2rem;
    line-height: 1;
  }
  .jumbotron-display {
    font-size: 2.5rem;
  }
  .sub-header {
    font-size: .98rem;
  }

  .project-title {
    font-size: 2.5rem;
    line-height: 1;
  }

  .project-body{
    font-size: 1rem !important;
  }
}

/* cover most instances where there is a small height */
@media only screen and (max-width: 1500px) and (max-height: 430px){
  .jumbotron-sub-display {
    font-size: 1.6rem;
    line-height: 1;
  }
  .jumbotron-display {
    font-size: 2rem;
  }
  .sub-header {
    font-size: .8rem;
  }

  .project-title {
    font-size: 2rem;
    line-height: 1;
  }
}

@media only screen and (max-width: 500px) {
  .jumbotron-sub-display {
    font-size: 1.1rem;
    line-height: 1;
  }
  .jumbotron-display {
    font-size: 1.75rem;
    line-height: 1;
  }
  .sub-header {
    font-size: .8rem;
  }
  .project-title {
    font-size: 1.75rem;
    line-height: 1;
  }
  .project-body{
    font-size: .8rem !important;
  }
}
@media only screen and (max-width: 300px) {
  .jumbotron-sub-display {
    font-size: .9rem;
    line-height: 1;
  }
  .jumbotron-display {
    font-size: 1.5rem;
    line-height: 1;
  }
  .project-title {
    font-size: 1.5rem;
    line-height: 1;
  }
  .project-body{
    font-size: .75rem !important;
  }
}